// 초기화
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

$biggest-size: 24pt;
$big-size: 20pt;
$middle-size: 18pt;
$msmall-size: 16pt;
$small-size: 14pt;
$smallest-size: 12pt;

@media (min-width: 701px) {
  #topdicebox {
    & .topdices:nth-child(1) {border-radius: 10px 0px 0px 10px;}
    & .topdices:nth-last-child(1) {border-radius: 0px 10px 10px 0px;}
    & .topdices {
      font-size: $small-size;
      width: calc(12.5% - 2px);
    }
  }
  #decription {
    font-size: $small-size;
  }
  #diceform {
    & input {font-size: $big-size;}
    & button {font-size: $big-size;}
  }
  #diceresultlist {
    & .diceresultitem {
      & .itemcontent {
        & .contenttitle {
          & .itemnumber {font-size: $biggest-size;}
          & .totaldice {font-size: $biggest-size;}
        }
        & .itemdice {font-size: $middle-size;}
        & .itemdetail {
          & .dicedetails {
            & .dicedetail {font-size: $small-size;}
          }
        }
      }
    }
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  #topdicebox {
    & .topdices:nth-child(1) {border-radius: 10px 0px 0px 10px;}
    & .topdices:nth-last-child(1) {border-radius: 0px 10px 10px 0px;}
    & .topdices {
      font-size: $smallest-size;
      width: calc(12.5% - 2px);
    }
  }
  #decription {
    font-size: $smallest-size;
  }
  #diceform {
    & input {font-size: $middle-size;}
    & button {font-size: $middle-size;}
  }
  #diceresultlist {
    & .diceresultitem {
      & .itemcontent {
        & .contenttitle {
          & .itemnumber {font-size: $biggest-size;}
          & .totaldice {font-size: $biggest-size;}
        }
        & .itemdice {font-size: $msmall-size;}
        & .itemdetail {
          & .dicedetails {
            & .dicedetail {font-size: $smallest-size;}
          }
        }
      }
    }
  }
}

@media (min-width: 101px) and (max-width: 400px) {
  #topdicebox {
    & .topdices:nth-child(1) {border-radius: 10px 0px 0px 0px;}
    & .topdices:nth-child(4) {border-radius: 0px 10px 0px 0px;}
    & .topdices:nth-child(5) {border-radius: 0px 0px 0px 10px;}
    & .topdices:nth-child(8) {border-radius: 0px 0px 10px 0px;}
    & .topdices {width: calc(25% - 2px);}
  }
  #decription {
    font-size: $smallest-size;
  }
  #diceform {
    & input {font-size: $small-size;}
    & button {font-size: $small-size;}
  }
}

* {
  padding: 0px;
  margin: 0px auto;
  font-family: 'Noto Sans KR', sans-serif;
}

// 상단 주사위
#topdicebox {
  padding: 10px;
  max-width: calc(100% - 20px);
  display: block;
  overflow: hidden;

  & .topdices {
    display: block;
    float: left;
    text-align: center;
    padding: 5px;
    margin: 1px;
    border: 1px solid #333333;
    background: #333333;
    color: #eeeeee;

    &:hover {
      color: #333333;
      background: #eeeeee;
    }

    &:active {
      color: #333333;
      background: #bbbbbb;
    }
  }
}

// 설명칸
#decription {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #333333;
  color: #eeeeee;
  text-align: justify;
  border-radius: 10px;
}

// 중앙 주사위 입력
#diceform {
  margin-bottom: 20px;
  padding: 10px;
  width: calc(100% - 20px);

  & input:nth-child(1) {
    border-radius: 10px 10px 0px 0px;
  }

  & input {
    text-align: center;
    padding: 10px 5px;
    display: block;
    width: calc(100% - 12px);
    margin-bottom: 5px;
    border: 1px solid #333333;

    & ::placeholder {
      color: #888888;
    }
  }

  & button {
    padding: 5px;
    background: #333333;
    color: #eeeeee;
    border: 1px solid #333333;
    width: 100%;
    border-radius: 0px 0px 10px 10px;

    &:hover {
      color: #333333;
      background: #eeeeee;
    }

    &:active {
      color: #333333;
      background: #bbbbbb;
    }
  }
}


// 하단 주사위 결과 리스트
#diceresultlist {
  padding: 10px;

  & .diceresultitem:nth-child(1) {
    border-top: none;
    margin-top: 0px;
  }

  & .diceresultitem {
    margin-top: 20px;
    border-top: 2px dotted #888888;
    padding-top: 10px;

    & .itemcontent {
      display: flex;
      flex-direction: column;

      & .contenttitle {
        display: flex;
        flex-direction: row;
        width: 100%;

        & .itemnumber {
          border-radius: 10px 0px 0px 10px;
          padding-right: 5px;
          font-weight: 900;
  
          & p {
            color: #eeeeee;
            background: #333333;
            padding: 0px 5px;
            border-radius: 10px;
            margin-right: 5px;
          }
        }

        & .totaldice {
          text-align: justify;
          font-weight: 900;
          color: #333333;
          flex: 1 1 0;
        }
      }

      & .itemdetail {
        width: 100%;

        & .dicedetails {
          display: flex;
          flex-direction: column;
          width: 100%;

          & .rolldetail {
            display: flex;
            flex-direction: row;
            width: 100%;

            & .itemdice {
              align-items: center;
              border-radius: 0px 10px 10px 0px;
              margin-right: 10px;
              display: flex;
              font-weight: 900;
              color: #333333;
            }
        
            & .dicedetail {
              text-align: justify;
              word-break:break-all;
              margin-top: 5px;
              flex: 1 1 0;
    
              & p {
                padding: 5px;
                border-radius: 10px;
                background: #eeeeee;
                border: 1px solid #333333;
    
                & .normal,
                & .mod {
                  color: #eeeeee;
                  margin-right: 2px;
                  padding: 0px 5px;
                  background: #333333;
                  border-radius: 10px;
                  display: inline-block;
                }
    
                & .critical {
                  color: #eeeeee;
                  margin-right: 2px;
                  padding: 0px 5px;
                  background: #147500;
                  border-radius: 10px;
                  display: inline-block;
                }
    
                & .fumble {
                  color: #eeeeee;
                  margin-right: 2px;
                  padding: 0px 5px;
                  background: #a80000;
                  border-radius: 10px;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}