// 초기화
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

$biggest-size: 32pt;
$big-size: 20pt;
$middle-size: 18pt;
$msmall-size: 16pt;
$small-size: 14pt;
$smallest-size: 12pt;

@media (min-width: 801px) {
  #topdicebox {
    & > select,
    & > button {
      font-size: $middle-size;
    }
  }
  #diceform {
    width: 100%;
    display: flex;
    flex-direction: row;

    & :nth-child(1) {
      margin-right: 2px;
      width: 100%;
      flex: 3 1 0;
    }

    & :nth-child(2) {
      margin-right: 2px;
    }
  
    & :nth-child(3) {
      margin-right: 2px;
    }
    
    & select {font-size: $middle-size;}
    & input {font-size: $middle-size;}
    & button {font-size: $middle-size;}
  }
  #diceresultlist {
    & .diceresultitem:nth-child(1):before,
    & .diceresultitem:before {font-size: $biggest-size;}
    & .diceresultitem {
      & .itemcontent {
        & .contenttitle {
          & .totaldice {font-size: $biggest-size;}
        }
        & .itemdice {font-size: $middle-size;}
        & .itemdetail {
          & .dicedetails {
            & .error {
              & .message {font-size: $small-size;}
            }
            & .dicedetail {font-size: $small-size;}
            & .total {font-size: $biggest-size;}
          }
        }
      }
    }
  }
}

@media (min-width: 451px) and (max-width: 800px) {
  #topdicebox {
    & > select,
    & > button {
      font-size: $small-size;
    }
  }
  #diceform {
    width: 100%;
    overflow: hidden;

    & :nth-child(1) {
      margin: 0px 0px 2px 0px;
      font-size: $middle-size;
      display: block;
      width: 100%;
    }

    & :nth-child(2) {
      margin-right: 2px;
      float: left;
      box-sizing: border-box;
      width: calc(33.33% - 1px);
    }
  
    & :nth-child(3) {
      margin-right: 2px;
      float: left;
      box-sizing: border-box;
      width: calc(33.33% - 2px);
    }
  
    & :nth-child(4) {
      float: left;
      box-sizing: border-box;
      width: calc(33.33% - 1px);
    }

    & select {font-size: $small-size;}
    & button {font-size: $small-size;}
  }
  #diceresultlist {
    & .diceresultitem:nth-child(1):before,
    & .diceresultitem:before {font-size: $biggest-size;}
    & .diceresultitem {
      & .itemcontent {
        & .contenttitle {
          & .totaldice {font-size: $biggest-size;}
        }
        & .itemdice {font-size: $msmall-size;}
        & .itemdetail {
          & .dicedetails {
            & .error {
              & .message {font-size: $smallest-size;}
            }
            & .dicedetail {font-size: $smallest-size;}
            & .total {font-size: $biggest-size;}
          }
        }
      }
    }
  }
}

@media (min-width: 101px) and (max-width: 450px) {
  #diceform {
    width: 100%;
    overflow: hidden;

    & :nth-child(1) {
      margin: 0px 0px 2px 0px;
      font-size: $small-size;
      display: block;
      width: 100%;
    }

    & :nth-child(2) {
      margin-right: 2px;
      float: left;
      box-sizing: border-box;
      width: calc(33.33% - 1px);
    }
  
    & :nth-child(3) {
      margin-right: 2px;
      float: left;
      box-sizing: border-box;
      width: calc(33.33% - 2px);
    }
  
    & :nth-child(4) {
      float: left;
      box-sizing: border-box;
      width: calc(33.33% - 1px);
    }

    & select {font-size: $small-size;}
    & button {font-size: $small-size;}
  }
  #diceresultlist {
    & .diceresultitem:nth-child(1):before,
    & .diceresultitem:before {font-size: $big-size;}
    & .diceresultitem {
      & .itemcontent {
        & .contenttitle {
          & .totaldice {font-size: $big-size;}
        }
        & .itemdice {font-size: $small-size;}
        & .itemdetail {
          & .dicedetails {
            & .error {
              & .message {font-size: $smallest-size;}
            }
            & .dicedetail {font-size: $smallest-size;}
            & .total {font-size: $big-size;}
          }
        }
      }
    }
  }
}

* {
  padding: 0px;
  margin: 0px auto;
  font-family: 'Noto Sans KR', sans-serif;
}

input, button, select {
  border-radius: 5px;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

#resultListBox {
  flex: 1;
  overflow-y: scroll;
  width: 100%;
}

#diceControl {
  background: #dddddd;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 5px solid #cccccc;
}

// 상단 주사위
#topdicebox {
  box-sizing: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;

  & > select {
    box-sizing: border-box;
    text-align-last: center;
    padding: 5px 10px;
    border: none;
    background: #333333;
    color: #eeeeee;
    margin-right: 2px;
    display: inline-block;
    flex: 1;
  }

  & > button {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    margin: 1px;
    border: 1px solid #333333;
    background: #333333;
    color: #eeeeee;

    &:hover {
      color: #333333;
      background: #eeeeee;
      cursor: pointer;
    }

    &:active {
      color: #333333;
      background: #bbbbbb;
    }
  }
}

// 중앙 주사위 입력
#diceform {
  box-sizing: border-box;
  margin-top: 10px;

  & select {
    padding: 0px 5px;
    border: 1px solid #333333;
    color: #eeeeee;
    background: #333333;
    text-align-last: center;
  }

  & input {
    text-align: center;
    padding: 5px 10px;
    background: #666666;
    color: #eeeeee;
    border: none;
    box-sizing: border-box;

    &::placeholder {
      color: #eeeeee;
    }
  }

  & button {
    padding: 1px 5px;
    background: #333333;
    color: #eeeeee;
    border: 1px solid #333333;

    &:hover {
      color: #333333;
      background: #eeeeee;
      cursor: pointer;
    }

    &:active {
      color: #333333;
      background: #bbbbbb;
    }
  }
}

#help {
  text-align: right;
  margin-top: 10px;

  & .modalbutton {
    background: #333333;
    color: #eeeeee;
    padding: 5px 10px;
    font-size: $big-size;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #333333;
    text-align: right;
    display: inline-block;

    &:before {
      content: '도움말';
    }

    &:after {
      content: '\f059';
      margin-left: 5px;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
    }

    &:hover {
      color: #eeeeee;
      background: #888888;
      cursor: pointer;
    }

    &:active {
      color: #eeeeee;
      background: #555555;
    }
  }
}

// 하단 주사위 결과 리스트
#diceresultlist {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  & .diceresultitem:nth-child(1):before {
    content: '\f061';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    background: #333333;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 30px;
    justify-content: center;
    display: flex;
  }

  & .diceresultitem:nth-child(1) {
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
  }

  & .diceresultitem:before {
    content: '\f061';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    background: #888888;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 30px;
    justify-content: center;
    display: flex;
  }

  & .diceresultitem {
    margin-top: 10px;
    border-top: 2px dotted #888888;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;

    & .itemcontent {
      width: 100%;
      display: flex;
      flex-direction: column;

      & .contenttitle {
        display: flex;
        flex-direction: row;
        width: 100%;

        & .totaldice {
          text-align: justify;
          font-weight: 900;
          color: #333333;
          flex: 1 1 0;
          max-width: 100%;
        }
      }

      & .itemdetail {
        width: 100%;

        & .dicedetails {
          display: flex;
          flex-direction: column;
          width: 100%;

          & .error {
            text-align: justify;
            word-break:break-all;
            width: 100%;

            & .message {
              padding: 5px;
              border-radius: 10px;
              background: #eeeeee;
              border: 1px solid #33333380;
              margin-bottom: 5px;
              margin-left: 30px;
            }
          }

          & .rolldetail {
            width: 100%;
            margin-top: 10px;

            &:nth-child(1) {
              margin-top: 0px;
            }

            & .itemdice {
              align-items: center;
              margin-bottom: 5px;
              font-weight: 900;
              color: #333333;

              & > p {
                word-break: break-all;

                &:before {
                  content: '\f6cf';
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  margin-right: 5px;
                }
              }
            }
        
            & .dicedetail {
              margin-left: 30px;
              text-align: justify;
              word-break:break-all;
              flex: 1 1 0;

              & .detailTop {
                padding: 0px 5px;
                border-radius: 10px;
                background: #eeeeee;
                border: 1px solid #33333380;
                margin-bottom: 5px;

                & .topItme {
                  padding: 3px 5px 4px 5px;
                  background: #dddddd;
                  border-radius: 10px;
                  border: 1px solid #33333350;
                  margin-top: 5px;
                  margin-bottom: 5px;

                  & .diceName {
                    background: #eeeeee;
                    padding: 0px 5px;
                    border: 1px solid #33333350;
                    color: #333333;
                    border-radius: 10px;
                    margin-right: 5px;
                    margin-bottom: 1px;

                    &:after {
                      content: '\f138';
                      font-family: "Font Awesome 5 Free";
                      font-weight: 900;
                      margin-left: 5px;
                    }
                  }

                  & .normal {
                    margin-right: 5px;
                    background: #333333;
                    display: inline-block;
                    margin-top: 2px;
                    margin-bottom: 1px;
                    padding: 0px 7px 2px 7px;
                    color: #eeeeee;
                    border-radius: 10px;
                  }
      
                  & .critical {
                    margin-right: 5px;
                    background: #147500;
                    display: inline-block;
                    margin-top: 2px;
                    margin-bottom: 1px;
                    padding: 0px 7px 2px 7px;
                    color: #eeeeee;
                    border-radius: 10px;
                  }
      
                  & .fumble {
                    margin-right: 5px;
                    background: #a80000;
                    display: inline-block;
                    margin-top: 2px;
                    margin-bottom: 1px;
                    padding: 0px 7px 2px 7px;
                    color: #eeeeee;
                    border-radius: 10px;
                  }
                }
              }
    
              & .detailBottom {
                padding: 3px 5px 5px 5px;
                border-radius: 10px;
                background: #eeeeee;
                border: 1px solid #33333380;

                & p {
                  & span {
                    margin-right: 5px;
                    margin-top: 2px;
                    margin-bottom: 1px;
                    display: inline-block;
                    color: #eeeeee;
                    border-radius: 10px;
                    padding: 0px 7px 2px 7px;
                  }

                  & .bonusMod {
                    background: #147500;
                  }

                  & .penaltyMod {
                    background: #a80000;
                  }
                }
              }
            }
          }

          & .total {
            text-align: justify;
            font-weight: 900;
            color: #333333;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}